<header>
  <div class="bg-dark collapse" id="navbarHeader" style="">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
            <h4 class="text-white">Acerca del sitio</h4>
            <p class="text-muted">Sitio desarrollado con el Framework ANGULAR</p>
          </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Sitios de cuentos</h4>
          <ul class="list-unstyled">
            <li><a href="https://www.chiquipedia.com/cuentos-infantiles-cortos/" class="text-white">Chiquipedia</a></li>
            <li><a href="https://www.conmishijos.com/ocio-en-casa/cuentos/cuentos-infantiles.html" class="text-white">ConMisHijos</a></li>
            <li><a href="http://www.cuentosinfantilesadormir.com/" class="text-white">Cuentos Para dormir</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        
        <strong>Cuentos</strong>
      </a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>


<div style="text-align:center">
  <h1>
    Pagina de cuentos para {{ title }}
  </h1>

</div>

<app-ficha></app-ficha>